<% layout('../layouts/auth') -%>

<h1><%= title %></h1>
<form method="post" action="/api/auth/login">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required /><br />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required /><br />
  <input type="checkbox" name="remember" id="remember" />
  <label for="remember">Remember Me:</label>
  <button type="submit">Login</button>
</form>

<% block('js', `
<script></script>
`) -%>
